In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
plt.style.use('seaborn')

In [5]:
dfx = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_YTrain.csv')
print(dfx.shape)

(576, 8)

In [8]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [9]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [11]:
x = dfx.values
y = dfy.values
y = y.reshape((-1,))
x

array([[  7.   , 168.   ,  88.   , ...,  38.2  ,   0.787,  40.   ],
       [  8.   , 110.   ,  76.   , ...,  27.8  ,   0.237,  58.   ],
       [  7.   , 147.   ,  76.   , ...,  39.4  ,   0.257,  43.   ],
       ...,
       [  2.   , 122.   ,  60.   , ...,  29.8  ,   0.717,  22.   ],
       [  4.   , 154.   ,  72.   , ...,  31.3  ,   0.338,  37.   ],
       [  1.   ,  88.   ,  78.   , ...,  32.   ,   0.365,  29.   ]])

In [12]:
classifier = KNeighborsClassifier(n_neighbors = 11, p=2, metric= 'euclidean')

In [13]:
classifier.fit(x,y)

KNeighborsClassifier(metric='euclidean', n_neighbors=11)

In [23]:
dfx_test = pd.read_csv('Diabetes_Xtest.csv')
x_test = dfx_test.values
p = dfx.values[12]
p

array([  3.   ,  96.   ,  56.   ,  34.   , 115.   ,  24.7  ,   0.944,
        39.   ])

In [25]:
y_pred = classifier.predict([p])
print(y_pred)

[0]